@media (max-width:739px){
    .header__topbar 
    {
        height: 100px;
        padding-right: 0px;
    }
    .topbar__nav 
    {
        text-align: center;
    }
    .topbar__calender  
    {
        display: none;
    }
    .topbar__nav li
    {
        margin-top: 10px;
    }
    .topbar__nav li a 
    {
        line-height: 30px;

    }
    .topbar__flex 
    {
        display: flex;
        justify-content: center;
    }
    .topbar__icon li i
    {
        margin-top: 10px;
    }
    .header__ads 
    {
        display: none;
    }
    .expand__nav 
    {
        display: none;
    }
    .expand__form-box 
    {
        display: none;
    }
    .logo__2 
    {
        margin-top: 20px;
        padding-left: 10px;
    }
    .logo__2 
{
    display: block;
}
.epxand__icon i
{
    display: block;
}
    .epxand__icon 
    {
      display: flex;
      justify-content: flex-end;
      height: 68px;
      align-items: center;
      color: #fff;
    }
    .epxand__icon i 
    {
     
        font-size: 23px;
        margin-left: 20px;
    }
    .header 
    {
        height: 168px;
    }
    .content 
    {
        height: 3080px;
    }
    .content .content__inner .inner__background  
    {
        width: 95%;
        margin-bottom: 30px;
    }
    .content .content__inner 
    {
        height: 800px;
    }
    .content .content__inner .inner__background  
    {
        width: 97%;
        height: 100%;
        margin-bottom: 30px;
    }
    .content .content__inner .inner__background img
    {
        margin-top: 20px;
        margin-left: 20px;
    }
    .inner__nav li 
{
    display: inline-block;
    list-style: none;
    padding: 10px;
    color: #fff;
    margin-bottom: 10px;
    margin-right: 20px;
    margin-top: 10px;
}
.inner__txt 
{
    margin-left: 0px;
}
.inner__padding 
{
    padding: 0;
    padding-right: 0px;
}
.inner__heading  
{
    font-size: 27px;
    line-height: 40px;
}
.inner__about  
{
    font-size: 15px;
    line-height: 28px;
    margin-bottom: 30px;
}
.content__list-box  
{
    height: 2300px;
}
.list__date 
{
    margin-bottom: 40px;
}
.list__box-background 
{
    height: 400px;
}
.modal__content
{
   width: 100%;
}
.search__input 
{
    width: 70%;
}
.modal__search.open__2 
{
   display: flex;
}
.modal.open 
{
    display: flex;
}
.title__list 
{
   position: absolute;
   left: 4%;
}
.content__news 
{
    height: 3020px;
    padding-left: 10px;
    padding-right: 10px;
}
.trending__news 
{
    height: 1200px;
}
.treding__background-img 
{
    height: 350px;
    margin-bottom: 30px;
}
.img__background-news p
{
    font-size: 15px;
    
}
.img__background-news 
{
    height: 40%;
}
.lastest__news 
{
    margin-left: 0px;
    margin-right: 0px;
  
}
.list__news-heaidng
{
    margin-left: -40px;
    margin-top: 10px;
}
.list__about 
{
    margin-left: -40px;
    margin-top: 10px;
}
.treding__background-img-2 
{
    height: 400px;
}
.join__us-heading 
{
    margin-left: 0;
    margin-right: 0;
}
.join__us-nav li 
{
    margin-left: 0;
    margin-right: 0;
}
.join__us-nav li  .plus 
{
   text-align: right;
}
.join__us-nav li 
{
    display: flex;
    justify-content: space-between;
}
.what__new-heading
{
    margin-top: 30px;
}
.join__us-heading 
{
    margin-top: 30px;
}
.content__news 
{
    height: 3100px;
    padding-left: 10px;
    padding-right: 0px;
}
.join__us
{
    padding-right: 10px;
}
.content__news-second
{
    height: 2950px;
}
.news__second-img
{
    height: 800px;
 
}
.treding__background-img-3
{
    width: 100%;
    height: 705px;

}
.news__second-txt
{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}
.treding__background-img-4 
{
  height: 300px;
 
  width: 100%;
  overflow: hidden;
}
.treding__background-img-4 img
{
  height: 100%;
}
.content__news-second
{
    padding-left: 10px;
    padding-right: 10px;
}
.background__list 
{
    margin-top: 60px;
}
.news__second-txt-2 
{
    position: absolute;
    left: 3%;
}
.news__second-img {
    margin-right: 0px
}
.content__news-box
{
    height: 3250px;
}
.treding__background-img-5
{
    width: 100%;
    height: 357px;

}
.title__list-3 
{
    position: absolute;
    left: 5%;
    top: 5%;
}
.img__background-news-2 
{
    height:29%;
}
.footer 
{
    height: 1000px;
}
.footer__contacts 
{
    margin-top: 30px;
    margin-left: 0px;
}
.footer__popular-news
{
    margin-top: 30px;
}
.footer__about 
{
    margin-bottom: 40px;
  
}
.list__news-heading-2
{
    margin-left: -20px;
}
.list__news-heading-3
{
    margin-left: -20px;
}
.wide .none__padding
{
    padding-right: 0px;
    margin-left: -10px;
}
.wide .none__padding-2
{
    padding-right: 0px;
    margin-left: -10px;
    margin-right: 5px;
}
.footer__about-2 
{
    margin-bottom: 6px;
}
}
@media (max-width:360px){
    .header__topbar 
    {
        height: 150px;
    }
    .header 
    {
        height: 218px;
    }
    .content .content__inner .inner__background  
    {
        width: 93%;
        height: 100%;
        margin-bottom: 30px;
    }
    .content .content__inner 
    {
        height: 700px;
    }
    .logo__2 
    {
        width: 80%;
        margin-top: 25px;
    }
    .tech__box 
    {
        margin-right: 0;
    }
    .inner__nav li 
    {
        margin-right: 5px;
    }
    .list__box-background 
{
    height: 200px;
}
.content
{
    height: 2300px;
}
.modal__search.open__2 
{
   display: flex;
}
.modal.open 
{
    display: flex;
}
.title__list 
{
   position: absolute;
   left: 10%;
}
.trending__news 
{
    height: 750px;
}
.treding__background-img 
{
    height: 200px;
    margin-bottom: 30px;
}
.join__us-nav li  .plus 
{
    margin-left: 50px;
}
.list__news-heaidng
{
    margin-left: 10px;
    margin-top: 0px;
}
.list__about 
{
    margin-left: 10px;
    margin-top: 0px;
    font-size: 12px;
}
.img__background-news 
{
    height: 50%;
}
.content__news 
{
    height: 2400px;
    padding-left: 10px;
    padding-right: 0px;
}
.treding__background-img-3
{
    width: 100%;
    height: 705px;

}
.news__second-img
{
    height: 600px;
 
}
.content__news-second
{
    height: 2700px;
}
.treding__background-img-3
{
    width: 100%;
    height: 505px;

}
.treding__background-img-4 
{
    height: 250px;
}
.content__news-box
{
    height: 2550px;
}
.treding__background-img-5
{
    width: 100%;
    height: 267px;

}
.img__background-news-2 
{
    height:42%;
}
.list__news-heading-3
{
    margin-left: 25px;
    font-size: 13px;
}
.list__news-heading-2
{
    margin-left: 25px;
    font-size: 13px;
}
.wide .none__padding-2
{
    padding-right: 0px;
    margin-left: -10px;
}
.wide .none__padding
{
    padding-right: 0px;
    margin-left: -10px;
}
}
@media (min-width:361px) and (max-width:500px){
    .content .content__inner 
    {
        height: 700px;
    }
    .list__box-background 
    {
        height: 300px;
    }
    .content
    {
        height:2650px;
    }
    .content .content__inner .inner__background  
    {
        width: 93%;
        height: 100%;
        margin-bottom: 30px;
    }
    .title__list 
{
   position: absolute;
   left: 7%;
}

.lastest__news 
{
    margin-left: 0px;
    margin-right: 0px;
    display: block;
}
.treding__background-img-2 
{
    height: 300px;
}
.join__us-heading 
{
    margin-left: 0;
    margin-right: 0;
}
.join__us-nav li 
{
    margin-left: 0;
    margin-right: 0;
}
.join__us-nav li  .plus 
{
   text-align: right;
}
.join__us-nav li 
{
    display: flex;
    justify-content: space-between;
}
.content__news 
{
    height: 2400px;
   
}
.trending__news 
{
    height: 750px;
}
.treding__background-img 
{
    height: 200px;
    margin-bottom: 30px;
}
.img__background-news 
{
    height: 50%;
}
.list__news-heaidng
{
    margin-left: 0px;
    margin-top: 5px;
}
.content__news-second
{
    height: 3050px;
}
.list__about 
{
    margin-left: 0px;
    margin-top: 5px;
 
}
.what__new-heading
{
    margin-top: 30px;
}
.treding__background-img-3
{
    width: 100%;
    height: 705px;
      
}
.content__news-box
{
    height: 2850px;
}
.treding__background-img-5
{
    width: 100%;
    height: 307px;

}
.img__background-news-2 
{
    height:32%;
}
.list__news-heading-3
{
    margin-left: 10px;
}
.list__news-heading-2
{
    margin-left: 10px;
}


}
@media (min-width: 740px) and (max-width: 1023px) {
    .header 
    {
        height: 136px;
    }
    .topbar__calender  
    {
        display: none;
    }
    .header__ads 
    {
        display: none;
    }
    .expand__nav 
    {
        display: none;
    }
    .expand__form-box 
    {
        display: none;
    }
    .logo__2 
    {
        margin-top: 20px;
        padding-left: 10px;
    }
    .logo__2 
{
    display: block;
}
.epxand__icon i
{
    display: block;
}
.content{
    height: 1650px;
}
    .epxand__icon 
    {
      display: flex;
      justify-content: flex-end;
      height: 68px;
      align-items: center;
      color: #fff;
    }
    .epxand__icon i 
    {
     
        font-size: 23px;
        margin-left: 20px;
    }
    .content .content__inner 
    {
        height: 800px;
    }
    .content .content__inner .inner__background  
    {
        width: 95%;
        margin-bottom: 30px;
    }
    .inner__nav li 
{
    display: inline-block;
    list-style: none;
    padding: 10px;
    color: #fff;
    margin-bottom: 10px;
    margin-right: 20px;
    margin-top: 10px;
}
.inner__heading  
{
    font-size: 30px;
    line-height: 40px;
}
.inner__about  
{
    font-size: 16px;
    line-height: 28px;
    margin-bottom: 30px;
}
.content__list-box  
{
    height: 700px;
}
.list__date 
{
    margin-bottom: 40px;
}
.modal__search.open__2 
{
   display: flex;
}
.modal.open 
{
    display: flex;
}
.content__news 
{
    height: 1170px;
}
.content__news-second 
{
    height: 1200px;
}
.news__second-img img 
{
    width: 100%;
    height: 100%;
}
.treding__background-img-3
{
    width: 295px;
    height: 455px;
      
}
.news__second-img
{
    margin-bottom: 40px;
}
.treding__background-img-5
{
    width: 301px;
    height: 157px;
   margin-left: 10px;
}
.content__news-box
{
    height: 1000px;
     padding: 75px 0px 50px 0px;
     overflow: hidden;
}
.content__news-box
{
    height: 890px;
     padding: 75px 10px 50px 10px;
     overflow: hidden;
}
.footer 
{
    height: 600px;
}
.footer__contacts 
{
    margin-top: 30px;
    margin-left: 0px;
}
.footer__popular-news
{
    margin-top: 30px;
}
.wide .none__padding
{
    padding-right: 0px;
    margin-left: -10px;
}
.wide .none__padding-2
{
    padding-right: 0px;
    margin-left: -10px;
}
}
@media (min-width: 1024px) and (max-width: 1239px) 
{
    .content
    {
        height: 900px;
    }
    .content .content__inner 
    {
        height: 400px;
        padding-left: 10px;
        padding-right: 10px;
    
    }
    .content .content__inner .inner__background  
    {
        width: 420px;
        height: 287px;
    }
    .inner__nav li 
{
    display: inline-block;
    list-style: none;
    padding: 10px;
    color: #fff;
    margin-bottom: 10px;
    margin-right: 20px;
    margin-top: 10px;
}
.inner__heading  
{
    font-size: 30px;
    line-height: 40px;
}
.inner__about  
{
    font-size: 16px;
    line-height: 28px;
    margin-bottom: 20px;
}
.title__list 
{
   position: absolute;
   left: 13%;
}
.lastest__news 
{
    margin-left: 0px;
}
.lastest__news img 
{
    padding: 5px;
   
}
.list__about  
{
    font-size: 11px;
    margin-left: 15px;
    line-height: 19px;
}
.list__news-heaidng 
{
    margin-left: 15px;
}
.treding__background-img-2 
{
    margin-bottom: 30px;
}
.join__us-nav li  .plus  
{
    margin-left: 90px;
}
.news__second-txt
{
    position: absolute;
    bottom: 5%;
    left: 2%;
    height: 30%;
    width: 83%;
    background: #ffffffcc;
    border-radius: 5px;
    padding: 18px 10px 10px 10px;
}
.news__second li  
{
    margin-right: 10px;
}
.news__second-txt-2 
{
    width: 70%;
    position: absolute;
    bottom: 12%;
    left: 4%;
    text-align: center;
    border-radius: 24px;
    background: #fff;
     display: flex;
     justify-content: center;
     align-items: center;
    padding: 10px 18px;
}
.news__post-single 
{
    margin-left: 0px;
    
}
.treding__background-img-3
{
    width: 250px;
}
.treding__background-img-4
{
    width: 231px;
}
.treding__background-img-5
{
    width: 231px;
    height: 157px;
}
.img__background-news-2 
{
    height:62%;
}
.content__news-box
{
    height: 530px;
     padding: 75px 10px 50px 10px;
     overflow: hidden;
}
.footer__icon li i
{
    margin-right: 5px;
    margin-left: 0px;
}
.footer__heading-2
{
   width: 55px;

}
.wide .none__padding
{
    
    padding-right: 0px;
    margin-left: -10px;
}
.wide .none__padding-2
{
    
    padding-right: 0px;
    margin-left: -10px;
    margin-right: -10px;
}
.footer__contacts
{
    margin-left: 10px;
}
.footer .footer__img 
{
    width: 65px;
    height: 55px;
}
.list__news-heading-2
{
    font-size: 13px;
    color: #ffffffcc;
    margin-left: 15px;
    margin-top: 3px;
    margin-bottom: 5px;
}
.list__news-heading-3
{
    font-size: 13px;
    color: #ffffffcc;
    margin-left: 15px;
    line-height: 18px;
}
}