*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    
}
.header 
{
    height: 254px;
    background: #55acee;
}
.header__topbar 
{
    height: 68px;
    background: #1c3459;
    padding-right: 10px;
}
.topbar__nav li 
{
   display: inline-block;
   list-style: none;
}
.topbar__nav li a
{
    color: #ffffffcc;
    text-decoration: none;
     padding: 10px;
    line-height: 70px;
    font-size: 15px;
    font-weight: 500;
    transition:0.4s;
    
}
.topbar__nav li a:hover 
{
    color:#0b75e4 ;
}
.topbar__flex 
{
    display: flex;
    justify-content: flex-end;
    
}
.topbar__icon li 
{
    display: inline-block;
    line-height: 50px;
}
.topbar__calender 
{
    font-size: 14px;
    line-height: 70px;
    color: #ffffffcc;
    padding: 0px 10px 0px 10px;
}
.topbar__icon li i
{
    color: #fff;
    margin-left: 10px;
    background: #3b5998;
    border-radius: 50%;
    height: 32px;
    width: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
     margin-top: 17px;
     transition: 0.4s;
     cursor: pointer;
}
.topbar__icon li i:hover 
{
    color: #0b75e4;
}
.topbar__icon li .twitter 
{
    background: #55acee;
}
.topbar__icon li .youtube
{
    background: #d42428;
}
.topbar__icon li .instas 
{
    background: #6c27b3;
}
.topbar__icon li .google__plus 
{
    background: #dc4e41;
}
.header__ads 
{
    height: 118px;
    background: #102950;
    padding-right: 10px;
}
.header__ads .logo 
{
    margin-top: 50px;
    padding-left: 10px;
}
.header__ads .ads__background
{
    width: 100%;
    height: 79px;
    margin-top: 22px;
}
#header__expand 
{
    background: #0b75e4;
    height: 68px;
    padding-right: 10px;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    background: #0b75e4;
    z-index: 9999;
  }

.expand__nav li 
{
    display: inline-block;
    list-style: none;
}
.expand__nav li a 
{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    padding: 10px;
    line-height: 70px;
    border-left: 1px solid rgba(255, 255, 255, 0.2);
}
.expand__nav .border__none 
{
    border-left: 0px solid #0b75e4;
}
.expand__form-box 
{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 68px;
    
}
.expand__form-box .form-box 
{
    background:#086ed5 ;
     width: 250px;
}
.expand__src 
{
    background: none;
    color: #fff;
    border: none;
    outline: none;
    padding: 10px 12px;
    width: 205px;
}
.expand__src::placeholder
{
    color: #fff;
}
.expand__form-box .form-box i 
{
    color: #fff;
    padding: 10px;
}
.logo__2 
{
    display: none;
}
.epxand__icon i
{
    display: none;
}
.content 
{
    height: 1000px;
    background: #102950;
    padding: 48px 0px 78px 0px;
    overflow: hidden;
}
.content .content__inner 
{
    height: 500px;
    padding-left: 10px;
    padding-right: 10px;

}
.content .content__inner .inner__background 
{
    background: #ffbe00;
     height: 365px;
     width: 525px;
     border-radius: 5px;
     
}
.content .content__inner .inner__background img 
{
    width: 100%;
    height: 100%;
    margin-top: 30px;
    margin-left:30px;
}
.inner__padding 
{
    padding: 10px;
    padding-right: 10px;
}
.inner__nav li 
{
    display: inline-block;
    list-style: none;
    padding: 10px;
    color: #fff;
    margin-bottom: 30px;
    margin-right: 20px;
    margin-top: 20px;
}
.inner__nav .tech__box
{
    width: 100px;
    text-align: center;
    cursor: pointer;
    transition: 0.4s;
    font-size: 20px;
    font-weight: 700;
}
.inner__nav .tech__box:hover 
{
    background: #097bed;
}
.inner__nav li i 
{
   margin-right: 5px;
}
.inner__txt 
{
    margin-left: 30px;
}
.inner__heading 
{
   color: #fff;
   line-height: 55px;
   margin-bottom: 20px;
   font-size: 40px;
}
.inner__about 
{
    line-height: 32px;
    color: #fff;
    margin-bottom: 30px;
    font-size: 18px;
}
.read__more 
{
    background: #1c3459;
    
    color: #fff;
    padding: 12px 20px;
    transition: color 0.4s linear;
    width: 150px;
    position: relative;
    font-size: 18px;
    font-weight: 700;
   cursor: pointer;
    text-align: center;
    z-index: 2;
    overflow: hidden;
}
.read__more::before
{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #55acee;
    z-index: -2;
    transition: transform 0.5s;
    transform-origin: 0 0;
    transition-timing-function: cubic-bezier(0.5,1.6,0.4,0.7);

}
.read__more::before 
{
    transform: scaleX(0);
}
.read__more:hover::before 
{
    transform: scaleX(1);
}
.content__list-box 
{
    height: 500px;
}
.list__box-background 
{
    height: 200px;
    cursor: pointer;
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: 10px;
    margin-right: 10px;
    overflow: hidden;
    transition: 0.4s;
    margin-bottom: 20px;
   
}
.list__box
{
    position: relative;
}
.title__list 
{
    position: absolute;
    top:3%;
    left: 8%;
    color: #fff;
    background: #097bed;
    padding: 5px 12px;
    cursor: pointer;
    transition: 0.4s;
}
.title__list-2
{
    background: #fa6600;
}
.title__list:hover 
{
    opacity: 0.7;
}
.list__box-background img 
{
    width: 100%;
    height: 100%;
    transition: 0.4s;
}
.list__box-background img:hover 
{
    transform: scale(1.05);
}
.list__box-heading 
{
    color: #fff;
    padding: 10px;
    line-height: 30px;
    cursor: pointer;
    transition: 0.4s;
}
.list__box-heading:hover 
{
    color: #097bed;
}
.list__date 
{
    padding: 10px;
    color: #ffffffcc;
    font-size: 14px;
}
.list__date i 
{
    margin-right: 5px;
}
.modal
{
    position: fixed;
    background: #0004;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0pc;
    z-index: 9999;
    display: none;
}
.modal__content
{
    width: 50%;
    height: 100%;
    background: #0b75e4;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: 0.2s fadeUp linear;
}
.modal__close 
{
    position: absolute;
    top: 0;
    right: 0;   
}
.modal__close i 
{
    color: #fff;
    font-size: 30px;
    padding: 10px 14px;
    cursor: pointer;
}
.modal__nav li 
{
    list-style: none;
    padding: 10px;
    margin-bottom: 20px;
}
.modal__nav li a 
{
    text-decoration: none;
    color: #fff;
    padding: 10px;
    font-weight: 600;
}

.menu 
{
    cursor: pointer;
}
.modal__search 
{
    position: fixed;
    background: #0004;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999999;
    display: none;
    animation: 0.2s fadeUp2 linear;
}

.modal__content-search 
{
    width: 100%;
    background: #000;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items:center ;
}
.search__close 
{
    position: absolute;
    top: 0;
    right: 0;
    color: #fff;
    padding: 10px 14px;
    font-size: 30px;
    cursor: pointer;
}
@keyframes fadeUp {
    from{
        transform: translateX(-50%);
        opacity: 0;
    }to{
        transform: translateX(0px);
        opacity: 1;
    }
}
.search__input 
{
    width: 50%;
 
    display: flex;
}
.src 
{
    width: 89%;
    padding: 10px 14px;
    outline: none;
}
.search__input i 
{
    color: #fff;
    padding: 12px 20px;
    background: #0b75e4;
    margin-left: -3px;
}
.search 
{
    cursor: pointer;
}
@keyframes fadeUp2 {
    from{
        opacity: 0;
    }to{
        opacity: 1;
    }
}
.content__news 
{
    height: 550px;
    padding: 75px 0px 50px 0px;
}
.content__news 
{
    overflow: hidden;
}
.trending__news 
{
    
    height: 600px;
    margin-right: 10px;
}
.trending__news img 
{
    width: 100%;
}
.what__news img 
{
    width: 100%;
}
.trending__news .treding__heading 
{
    font-size: 18px;
    margin-bottom: 20px;
}
.treding__background-img 
{

    position: relative;
    margin-bottom: 10px;
    cursor: pointer;
    background-repeat: no-repeat;
    height: 120px;
    overflow: hidden;
}

.treding__background-img img
{
    transition: 0.4s;
    height: 100%;
}
.treding__background-img img:hover
{
  transform: scale(1.1);
}
.img__background-news 
{
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 10px;
    color: #fff;
    background: linear-gradient(to top, rgba(32, 22, 84, 0.6) 52%, rgba(0, 0, 100, 0));
    height: 70%;
    padding: 20px;
    width: 100%;
    transition: 0.4s;
}
.img__background-news:hover 
{
    opacity: 0.9;
}

.img__background-news p
{
    margin-top: 10px;
    font-size: 10px;
    transition: 0.4s;
}
.img__background-news p i 
{
    margin-right: 5px;
}
.img__background-news p:nth-child(2):hover 
{
    color: #ffbe00;
}
.lastest__news 
{
    margin-left: 10px;
    margin-right: 10px;
}
.lastest__heading 
{
    font-size: 18px;
    margin-bottom: 15px;
}
.lastest__news img 
{
    width: 75px;
    height: 63px;
    padding: 4px;
    margin-bottom: 15px;
  
}
.list__news-heaidng 
{
    font-size: 10px;
    margin-bottom: 5px;
     margin-top: 7px;
     padding-left: 5px;
}
.list__about 
{
    color: #201654;
    font-size: 14px;
    line-height: 21px;
    transition: 0.4s;
    cursor: pointer;
    margin-top: -1px;
    padding-left: 5px;
    font-weight: 700;
}
.list__about:hover 
{
    color: #55acee;
}
.what__news 
{
   
    margin-right: 10px;
}
.what__new-heading 
{
    font-size: 18px;
    margin-bottom: 20px;
}
.treding__background-img-2 
{
   height: 166px;
   margin-bottom: 35px;
}
.what__news-nav li 
{
    list-style: none;
    display: inline-block;
    margin-bottom: 25px;
    padding: 5px 10px 5px 10px;
    color: #201654;
    font-size: 10px;
}
.what__news-nav li.tech__box 
{
    background: #097bed;
    color: #fff;
    font-size: 12px;
    cursor: pointer;
    font-weight: 700;
    transition: 0.4s;
}
.what__news-nav li.tech__box:hover 
{
    opacity: 0.8;
}
.what__news-title 
{
    color: #201654;
    font-size: 15px;
    font-weight: 700;
    margin-bottom: 20px;
    line-height: 25px;
}
.what__news-about
{
    font-size: 15px;
 
    margin-bottom: 20px;
    line-height: 25px;
}
.join__us-heading 
{
    font-size: 18px;
    margin-bottom: 20px;
}
.join__us-heading 
{
    margin-left: 10px;
}
.join__us-nav li 
{
    display: flex;
    margin-bottom: 20px;
    margin-left: 10px;
    border-bottom: 2px solid #888;
    padding-bottom: 10px;
}
.join__us-nav li .social
{
    margin-right: 5px;
    width:30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #3b5998;
    color: #fff;

    border-radius: 50%;
}

.join__us-nav li .twitter 
{
    background: #55acee;
}
.join__us-nav li .youtube
{
    background: #d42428;
}
.join__us-nav li .instas 
{
    background: #6c27b3;
}
.join__us-nav li .google__plus 
{
    background: #dc4e41;
}
.join__us-nav li  .join__time
{
    font-size: 12px;
    margin-top: 7px;
    font-weight: 700;
    margin-left:  6px;
}
.join__us-nav li  .join__emo 
{
    font-size: 12px;
    margin-top: 7px;
    margin-left: 10px;
    font-weight: 700;
}
.join__us-nav li  .plus 
{
    font-size: 12px;
    margin-top: 7px;
    margin-left: 150px;
    color: #201654;
}
.join__us-nav .border__none
{
    border-bottom: none;
}
.join__us  img 
{
    width:100%;
}
.img__background-news .trending__about 
{
    font-size: 13px;
    font-weight: 700;
}
.content__news-second 
{
    height:650px;
    background: #f7fbff;
    padding: 75px 0px 50px 0px ;
    overflow: hidden;
}
.news__second-img
{
    height: 500px;
    overflow: hidden;
    margin-right: 10px;
}
.treding__background-img-3
{
    width: 285px;
    height: 455px;
    overflow: hidden;
    position: relative;
    margin-right: 10px;
}
.treding__background-img-3 img 
{
    width: 100%;
    height: 100%;
    cursor: pointer;
 
    transition: 0.4s;
}
.treding__background-img-3 img:hover 
{
    transform: scale(1.03);
}
.news__second-txt
{
    position: absolute;
    bottom: 5%;
    left: 5%;
    height: 30%;
    width: 90%;
    background: #ffffffcc;
    border-radius: 5px;
    padding: 20px;
}
.news__second li 
{
    display: inline-block;
    text-transform: capitalize;
    font-size: 13px;
    margin-bottom: 10px;
    margin-right: 10px;
}
.news__second li i 
{
    margin-right: 2px;
}
.news__second li.news__color 
{
    background: #55acee;
    color: #fff;
    padding: 8px 12px;
}
.news__second-about 
{
    color: #000;
    font-weight: 700;
    cursor: pointer;
    line-height: 23px;
    transition: 0.4s;
}
.news__second-about:hover 
{
    color: #097bed;
} 
.treding__background-img-4
{
    position: relative;
    overflow: hidden;
    margin-right: 20px;
    
    margin-bottom: 20px;
}
.treding__background-img-4 img
{
     width: 100%;
     height: 157px;
     cursor: pointer;
     transition: 0.4s;
}
.treding__background-img-4 img:hover
{
    transform: scale(1.02);
}
.news__second-txt-2 
{
   width: 50%;
   position: absolute;
   bottom: 12%;
   left: 5%;
   text-align: center;
   border-radius: 24px;
   background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
   padding: 10px 18px;
}
.news__second-date
{
    font-size: 13px;
}
.news__second-date i 
{
    margin-right: 2px;
}
.post__about 
{
     font-weight: 700;
     line-height: 25px;
     margin-bottom: 20px;
}
.background__list 
{
    background: #fff;
    padding: 5px;
}
.content__news-box
{
    height: 600px;
     padding: 75px 10px 50px 10px;
     overflow: hidden;
}
.news__box-background 
{
    width: 275px;
    
    height: 193px;
}
.news__box-background-5 img 
{
    width: 100%;
    height: 100%;
    transition: 0.4s;
    cursor: pointer;
}
.treding__background-img-5 
{
    width: 285px;
    height: 193px;
    overflow: hidden;
    position: relative;
    margin-bottom: 30px;
   
}
.treding__background-img-5 img 
{
    width: 100%;
    height: 100%;
    transition: 0.4s;
    cursor: pointer;
}
.treding__background-img-5 img:hover 
{
    transform: scale(1.02);
}
.img__background-news-2
{
    height: 50%;
   
}
.change__size
{
    margin-left: 10px;
}
.news__post-single 
{
    margin-left: 5px;
    
}
.trending__about
{
    cursor: pointer;
    line-height: 18px;
}
.title__list-3 
{
    position: absolute;
    top: 10%;
    left: 10%;
    color: #fff;
    background:  #7530ff; 
    padding: 5px 12px;
    cursor: pointer;
    transition: 0.4s;
   margin-left: -10px;
}
.title__list-4 
{
    background-color: #00bff3;
}
.title__list-5
{
    background: #ed1c24;
}
.title__list-6
{
    background: #7530ff;
}
.footer 
{
    height: 400px;
    background: #102950;
    padding: 75px 10px 50px 10px;
    overflow: hidden;
}
.footer__heading
{
    color: #fff;
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
}
.footer__about 
{
    margin-right: 12px;
    padding-left: 5px;
}
.footer__about-2
{
    color: #ffffffcc;
    line-height: 25px;
    font-size: 14px;
}
.footer__list
{
    margin-left: 10px;
}
.footer__heading-2
{
    font-size: 14px;
    border:1px solid #393e75;;
    color: #ffffffcc;
    margin-right: -2px;
    margin-bottom: 10px;
    text-align: center;
    padding: 5px 5px 5px 0px;
}
.footer__contacts 
{
    margin-left: 40px;
}
.footer__nav li 
{
    list-style: none;
    color: #ffffffcc;
    font-size: 14px;
    margin-bottom: 10px;
}
.footer__nav li i 
{
    margin-right: 10px;
}
.footer .footer__img 
{
   width: 80px;
   height: 70px;
   margin-right: 10px;
   margin-bottom: 10px;
}
.list__news-heading-2
{
    font-size: 14px;
    color: #ffffffcc;
    margin-left: 15px;
    margin-top: 5px;
    margin-bottom: 10px;
}
.list__news-heading-3
{
    font-size: 14px;
    color: #ffffffcc;
    margin-left: 15px;
    line-height: 20px;
}
.footer__popular-news
{
    padding-right: 10px;
}
.to__top 
{
    position: fixed;
    bottom: 2%;
    right: 2%;
    background: #558aff;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    font-size: 20px;
    cursor: pointer;
    display: none;
}
.to__top a
{
    color: #fff ;
}
.to__top.active 
{
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fadeup linear 0.4s;
    animation: 0.4s fadeIN ease-in-out;
}
.to__top.active:hover 
{
    background: #1d4674;
}
@keyframes fadeIN {
    from{
        opacity: 0;
    }to 
    {
        opacity: 1;
    }
}